[2016-06-18 07:27] esurdam opened #4 "Error in Documentation"
Howdy!

Noticed a little mistake in your Complete Example section:

[code]

should be an object mapping, correct?

[code]

[2016-06-18 12:07] skellock commented on #4
Oops, you're right.  Will fix that up.  Thanks for the issue sir!

[2016-06-25 04:21] esurdam commented on #4
Thanks for the awesome sauce @skellock. Code so pretty

[2016-06-26 12:08] skellock commented on #4
Thank you. Hope it works out for you.

[2016-07-01 19:46] skellock commented on #4
Fixed up.  Thx @esurdam.   I was super slow to get this patched up.  Bad steve.

[2016-07-01 19:46] #4 closed

[2016-07-07 07:32] varungupta85 opened #5 "Question regarding createReducer"
This is not really an issue but a question. What is the motivation behind specifying action types as an array in the handlers for reducers. Is it that we can specify same handler more than once action. I checked in node and if I specify an object key as an array, it only allows me to have one entry in the array. Thanks!

[code]

[2016-07-07 11:43] skellock commented on #5
It acts as a lookup table.

In practice, it accomplishes the exact same thing as a switch statement.

It reads a little nicer in my opinion because we separate control flow from the implementation of each reducer.  At least it does to my tired old eyes.  :)

It's totally fine to stay in switch land.  Some folks prefer that.

You can have multiple reducers subscribe to the same message, but not wit

[2016-07-07 11:43] #5 closed

[2016-10-26 07:39] superchangme opened #7 "I love u"
Thanks for your effort!

[2016-10-26 12:38] matttti opened #8 "Support FSA-style actions? (with payload and meta fields)"
Hi,

thanks a lot for this awesome module!

[Flux Standard Actions](https://github.com/acdlite/flux-standard-action) seem to be rather standard now. And quite some libraries out there are designed around this pattern. (example: https://github.com/colinbate/redux-form-submit-saga)

I though of something like:

[code]

and then:

[code]

What do you think?

[2016-10-26 13:18] skellock commented on #7
I love you too.

[2016-10-26 13:28] skellock commented on #8
To be honest, I never quite got FSA.  I tried it on early project and it was just an extra level of data.  Truthfully, I don't really see it around that much, but perhaps I'm not looking at the right projects.

Now, having said that...

What you're proposing seems very reasonable.

Two issues I see:

1.  How do we determine a failure goes into the `error` property?
2.  For meta-based properties, h

[2016-10-27 17:04] matttti commented on #8
Using `createFSAActions()` sounds good. My view on your issues:

1. My proposal did indeed not follow the "Errors as a first class" concept, and implies using *_FAILURE actions. For my purposes it's fine, but I'm not proficient to assess the importance of this aspect. There seem to be some hybrid forms out there. Alternatively, we could go node-style, and "reserve" the first parameter for potentia

[2016-11-13 04:28] youngboy opened #9 "Decrease build size via rollup tree-shaking"
This package is awesome.

But seems like its ramda dependency increase build size a lot in my project.

Since the project is using rollup already, why can't we remove all unused ramda relate code,
[rollup-plugin-ramda](https://github.com/idmitriev/rollup-plugin-ramda) plugin seems useful

more info on modular ramda https://github.com/ramda/ramda/issues/1505

[2016-11-13 10:42] skellock commented on #9
Thank you.  My rollup knowledge is barely passable. I'd love to learn more about this.  Cheers.

[2016-12-05 07:35] mike623 opened #11 "suggest about action creators"
Nice library ! Thank you for making my life easier. Here are some suggestion:

- can we create action follow standard of  [flux action structure](https://github.com/acdlite/flux-standard-action)

- can we add prefix for action type ?

[2016-12-05 17:55] skellock commented on #11
Thanks!

We're tracking FSA on #8 .

For prefix, you're looking to modify just the TYPE that comes back and not the action creator?

Like this?

[code]

[2016-12-06 02:37] mike623 commented on #11
Yes, that is what I want. For my own habit, I would add prefix `APP/${containerName}/${actionName}` for my own action to make filter easier. I different library like 'redux form' also have their own namespace

[2016-12-06 15:00] peterpme opened #12 "Async Actions"
Hey!

I'm using this because of Ignite, awesome work on that!

I was wondering how I could handle async requests. I'm definitely missing a piece of the puzzle somewhere.

[code]

This top part I think I understand, but where would something like this then go?

[code]

Thank you again!

[2016-12-06 17:12] skellock commented on #12
Heyo!  Thanks man.

For me, that goes in saga using `redux-saga`.

`createActions` does have the ability to assign a `function` to the right hand side though.  it'll still create the `FETCH_SUCCESS` (for example) but then allows you to provide your own custom action creator (which you can do anything).

I feel like I'm not quite answering your question though.

Another thing you can do is just ass

[2016-12-07 02:54] peterpme commented on #12
You totally answered my question!

I was missing the big piece around sagas which Ignite includes. I can't believe how easy it's been to string stuff together!

Thanks again, you rock :)

[2016-12-07 02:54] #12 closed

[2016-12-08 16:53] jbblanchet commented on #11
@skellock I also need this. If you're willing to consider it, I could submit a PR this afternoon with an additional optional string parameter to both `createActions` and `createTypes` that would be prepended to every action constant.

[2016-12-08 16:54] skellock commented on #11
Sure!  How about we make that extra parameter an object instead for flexibility?

[2016-12-08 22:02] skellock commented on #11
Just pushed `reduxsauce@0.4.0` up to npm.  Thank you for the feedback and even literally writing the code!

[2016-12-08 22:02] #11 closed

[2017-01-19 09:03] bradennapier opened #15 "Inspired by ReduxSauce"
Just wanted to share as this was heavily inspired by some of your functions you provide!  Thanks, has definitely increased productivity in a major way!

https://github.com/Dash-OS/redux-saga-process

[2017-01-19 12:08] skellock commented on #15
Sweet dude! I remember you telling us about some of these concepts on an Ignite issue.  Congrats on shipping your library!

[2017-01-19 12:08] #15 closed

[2017-02-14 08:00] xml commented on #8
@skellock The primary virtue of the FSA is that it's a spec people can rally around, and write all kinds of utilities for. Creators, middlewares, reducers... all can assume the *shape of the action object*. Without that ability to make assumptions about where the type is, where the payload is, etc., you can't have a shared ecosystem of utilities.

In your case, for instance, you're making an _impl

[2017-03-02 21:35] GantMan opened #16 "createReducer should die on undefined keys."
When there's a typo in constants on `createReducer`, an undefined key is places in the object.

CONSTANTS_FOR_TEH_WIN

but reduxsauce currently doesn't notice.   Def want to make it aware.  This should error instantly and throw.

[2017-03-02 21:40] skellock commented on #16
Thx.  Good find.

[2017-03-21 22:07] #16 closed

[2017-04-06 18:20] ElieMyIdea opened #18 "Reset all states on logout"
**_Hi,_**

We're currently working on a RN App started with your awesome Ignite Project !
You should (and you have to) be proud of what your team did and continue to do everyday :-)
Thx a lot ;-)

I'm experiencing a little issue / misunderstanding, and I hope you could bring me help.

So, I'm using redux-sauce, redux-saga and many more (same arch as old ignite project, before beta launched) !

All

[2017-04-06 21:27] kevinvangelder commented on #18
Typically we have a global RESET action that we listen for in each Redux file that sets it's own state to INITIAL_STATE and then we'd call that from the logout saga.

[2017-04-07 03:36] the-big-l commented on #18
To listen for the RESET action in each Redux file, do you import the RESET 'type' from the Redux file that created it?

[2017-04-07 18:22] kevinvangelder commented on #18
Yep, exactly.

[2017-04-07 19:23] skellock commented on #18
I've had to write this several times already.  I thought I might add it into this library.

There's not a lot too it, but you can opt-in to resetting per-reducer (or globally if you wrap your root reducer) with this:

https://github.com/skellock/reduxsauce#resettablereducer

[2017-04-07 19:23] #18 closed

[2017-04-10 04:14] appjitsu opened #20 "We need more boilerplate"
Reduxsauce is a travesty because it decreases the time it takes to write apps, therefore I charge my client less hours for development, therefore I make less money. So we need some boilerplate, please.

[2017-04-10 05:22] skellock commented on #20
Haha!

[2017-04-10 05:22] #20 closed

[2017-04-10 05:40] appjitsu commented on #20
Seriously though. Thanks for this project. Saves a lot of time.

[2017-04-11 19:28] cwagner22 opened #21 "Calling an action doesn't update store immediately"
I have an action called `loadNextCard()` which is going to store `currentWord` in the redux store.
However if for some reason `currentWord` is null (no more cards), then I want to display an alert and redirect the user.
This is not working because dispatching a redux action doesn't update the store immediately.

[code]

This is not the only place where I'm having this issue so I would appreciate a

[2017-04-11 19:33] skellock commented on #21
Ya that's how `redux` works.  Async by design.

One option you have here is to set a flag in state to indicate that you're loading.  Then when `componentWillReceiveProps` fires with your new data, update that flag.  Then in your `render()`, draw the appropriate UI for the state at that point.

[2017-04-12 10:46] cwagner22 commented on #21
Thanks, looks like this will do it!

[2017-04-12 10:46] #21 closed

[2017-05-05 13:52] zakster12 opened #22 "createActions - custom example"
Hello and thank you for this very good module. I really need an example based on my action because I cannot manage to make it work.

Here is my action:

[code]
How this would be transform to createActions? Should be like this?

[code]

[2017-05-05 13:55] skellock commented on #22
[code]

[2017-05-05 14:05] zakster12 commented on #22
I just have tried and when using:

[code]

instead:

[code]

![screen shot 2017-05-05 at 5 03 51 pm](https://cloud.githubusercontent.com/assets/25477229/25748748/da7eadc0-31b4-11e7-876b-f69e75d97d83.png)

Here is my reducer:

[code]

[2017-05-05 14:20] DiscoStarslayer commented on #22
You should try to use
`dispatch(Creators.getAllPosts(data))`
Instead of
`dispatch({
  type: Types.GET_ALL_POSTS,
  payload: data
})`

This way you use the action creator to generate your action. The method you linked should work though,  what is your full actions/types file? You might not be importing Types properly as it is usually a named export.

[2017-05-05 15:24] zakster12 commented on #22
That's exactly how I use it and I still have this error.  I updated my answer.

[2017-05-09 05:17] zakster12 commented on #22
I still can't find what's the problem. Here is my types file:

[code]
and the action:

[code]

And how I call it:

`dispatch(Creators.getAllPosts(data));`

but still have the same error:

![screen shot 2017-05-05 at 5 03 51 pm](https://cloud.githubusercontent.com/assets/25477229/25836413/4b1865bc-348f-11e7-8d6a-e6080480b1e0.png)

I also tried with:

[code]

[code]

but still the same...

[2017-05-09 05:44] zakster12 commented on #22
I found the problem. It was because this line:

`const { Types, Creators } = createActions({`

I remove Types and imported my types file.

Thank you again for your time and effort.

[2017-05-09 06:25] #22 closed

[2017-05-09 10:34] skellock commented on #22
Sweet!  Glad you got sorted.

[2017-05-26 01:22] luizguilhermefr opened #23 "Handlers Cannot Have Undefined Key"
Hi, I just updated from earlier version of `reduxsauce` and ran into `handlers cannot have undefined key` error.

I've reviewed all of my `createReducer` calls and cannot find the problem. Where could it be? If helps, I am using https://github.com/infinitered/ignite version 01.

[2017-05-26 01:31] luizguilhermefr commented on #23
Found the problem. Typo on `Types.SOMEITHNG`.

[2017-05-26 01:31] #23 closed

[2017-05-26 13:52] Congrammers opened #24 "How to use reselect"
How to use
https://github.com/reactjs/reselect

with this package?

[2017-05-26 14:41] skellock commented on #24
`reselect` exports functions.  `reduxsauce` exports functions.  How you combine them is totally up to you.

Lemme know if you build anything exciting with it!

[2017-05-26 14:41] #24 closed

[2017-05-26 16:28] Congrammers commented on #24
alternatively, how to get the "current state" other than mapStateToProps, I can't find related documentation on that :/

[2017-05-26 16:32] skellock commented on #24
If you're using a React component, that is how you do it.

If you're using `redux-saga`, you can use the `select()` effect.

If you've got a reference to the `store` object directly, you can use `store.getState()`.

[2017-05-30 14:54] kumarpatel opened #25 "Aliasing an import created by createActions or just import specific actions?"
Given my redux file:

DeviceNotificationSubscriptionRedux.js
[code]
This is what my import looks like:
`import DeviceNotificationSubscriptionActions from 'DeviceNotificationSubscriptionRedux'`

Is there a way to alias this import or just import `SUBSCRIBE_DEVICE` action?

This doesn't seem to be working:
`import { subscribeDevice } from 'DeviceNotificationSubscriptionRedux'`

[2017-05-30 16:47] skellock commented on #25
For named exports, they have to leave the file with the right name.

[code]

That gets awfully typey though.

[This article](https://medium.com/@kentcdodds/misunderstanding-es6-modules-upgrading-babel-tears-and-a-solution-ad2d5ab93ce0) might help clear up the confusion.

[2017-05-30 16:47] #25 closed

[2017-06-02 02:07] xiongjiabin opened #26 "Any good example to co-work with undo and redo?"
In my App, I need to implement undo and redo, any guys have any great idea?

[2017-06-02 11:20] skellock commented on #26
Redux docs have a whole section on it.

http://redux.js.org/docs/recipes/ImplementingUndoHistory.html

[2017-06-02 11:20] #26 closed

[2017-07-10 02:04] messense commented on #9
I think you should publish the npm package with `lib` in it so that webpack users can use `import createReducer from 'reduxsauce/lib/createReducer` to do tree shaking.

[2017-08-12 17:36] skellock commented on #9
Ahh.. good call @messense

[2017-08-12 17:40] #9 closed

[2017-08-12 17:40] skellock commented on #9
thx guys... have a few more things to test before launching 1.0.

[2017-08-22 08:25] vaukalak opened #30 "Default handler"
Sometime you should write reducers that delegate actions to nested reducers.
[code]
And all actions (except `Types.ONE` and `Types.TWO`) should be delegated to `defaultHandler`.

[2017-08-23 07:33] vaukalak commented on #30
I'm not sure if nested is the only one use case.. for example the default handler could do something like:
[code]
This is certainly bad code, but just as idea, that default handler is not always delegate to nested reducers. I think `DEFAULT` or `ELSE` could work. But in "standard" reducer style you usually use `default` keyword to mention, that this  block handles all actions that are not mentione

[2017-08-23 11:27] skellock commented on #30
I see where you’re coming from.

I’ve never written anything like that but I guess that could be useful.

I’d be ok with this. You up for a PR?

[2017-08-23 19:10] vaukalak commented on #30
done :)

[2017-08-24 07:19] ahshawn opened #32 "using redux-persist"
Hello, thank for this tool, however, I am using ignite 2 for my boilerplate in react native, I am using createReducer from redux sauce, whitelisted the state that I want to persist, but from what I know is I have to receive the state from my reducer in order to rehydrate the state. How do I do this when I'm using createReducers?

[2017-08-24 07:21] #32 closed

[2017-08-24 07:22] ahshawn commented on #32
found out i have don't have to receive the state when i am using the rehydration service

[2017-08-31 21:23] NachtRitter commented on #30
Nice! I've been researching redauxsauce for this case and was going to make PR like yours :)
I hope @skellock will merge it and publish soon this feature.

[2017-09-06 04:24] franky47 opened #34 "Default values for action creators arguments"
I often generate actions that keep consistent properties if not explicitly specified, using default argument values in the action creator method for the associated properties.

Example:
[code]

Please ignore if this is a bad pattern, as this moves the data consistency logic from the reducer to the action creator, but if there is a use for it, the action creator factory could also accept an object

[2017-09-06 05:19] Franky47 commented on #34
In the mean time, I'm using the BYOAC feature:
[code]

[2017-09-07 10:47] #30 closed

[2017-09-07 10:50] skellock commented on #34
The order will matter however object keys are not deterministic in some js environments.

We would have to do something like this to preserve the order.

[code]

[2017-09-11 11:32] zhang-z commented on #34
+1 to @Franky47 's proposal:
[code]

If the action is defined in this way, it will be invoked as:
[code]

@skellock , if you agree with this approach, I can try to create a pull request

[2017-09-11 17:11] skellock commented on #34
I like this @zhang-z ya.  Right now the interface is `null` or `array`.  Adding `object` is compatible with the API.

Good idea.

[2017-09-18 08:19] zhang-z commented on #34
@skellock , I submitted a PR for this issue. Could you take a look?

[2017-09-18 11:05] skellock commented on #34
Thank you, it looks great. I haven’t had time just yet to try it out. Sorry.

[2017-09-25 19:08] vaukalak commented on #30
@skellock is there forecast when npm build with this will be released?

[2017-09-25 19:17] vaukalak commented on #8
I think it would be good to considerate [redux-actions](https://redux-actions.js.org/docs/api/createAction.html) as an engine for FSA creation. So probably instead of:
[code]
Developer should install that lib, and code should look like:
[code]
So I think what the lib should support is configurable action creators, and can remain FSA agnostic.

[2017-09-25 19:45] skellock commented on #30
Sorry for the delay.  I have it merged into master, but wanted to test a few things to make sure we're good.  I don't have a good ETA other than once these other fires are extinguished.  =)

[2017-09-26 10:22] #34 closed

[2017-09-26 11:19] skellock commented on #8
Ya, I'm on board after @xml's awesome explanation.

How about `{ fsa: true }`?

[code]

This would be fine for attaching payloads, but what about `meta` and/or `error`?

Aren't we kinda getting to the point where it's easier to not use an action creator at all?  I don't use FSA, so I really don't know.  😊

[2017-09-26 11:26] skellock commented on #34
shipping now in 0.7, thx!

[2017-09-26 12:04] franky47 commented on #34
Thanks @zhang-z and @skellock !

[2017-10-12 20:41] jose920405 opened #40 "How to trigger an action from a reducer to another reducer"
Hi,

I need to be able to call an action of another reducer (UserReducer) from my current reducer (ListReducer)

**ListReducer**

[code]

**UserReducer**

[code]

[2017-10-12 21:18] skellock commented on #40
You don't wanna do that. That's called a side effect.  Reducers are meant for only changing state.

I personally recommend `redux-saga` for this, but others like `redux-thunk` because it's simpler.

[2017-10-12 21:18] #40 closed

[2017-10-23 00:13] iammini5 opened #41 "how i can support adding action which doesn't need to mutable the state"
The added action is only used to trigger my sagas logic, doesn't need to mutate the statue.

[2017-10-30 15:43] fredbt commented on #8
Did we have any progress on this? I want to use react-native-offline and would love to keep using reduxsauce, but it requires the actions to be in this format:

[code]

[2017-10-30 15:53] skellock commented on #8
No updates from my end.  I don't use FSA... if you're looking to contribute tho, that'd be awesome.

[2017-10-31 13:16] vaukalak commented on #8
@skellock I can pick that, but I'd prefer a sort of:
[code]
Rather then `{fsa: true}`. Then, developer can improve that with:
[code]
Will you give green light to that, or you'd like `{fsa: true}`?

[2017-10-31 13:22] fredbt commented on #8
Thanks @vaukalak !!!!

It will be great to stick with reduxsauce if you manage to develop this. I really love the library!

[2017-10-31 14:20] skellock commented on #8
I’d very much welcome fsa support.

I like the idea of having `createFsaActions` baked in as an additional export. If we can prevent the interface of the current `creatActions` from changing that would be awesome.  I really don’t even mind if the whole internals change to support this! 😸

[2017-11-21 11:24] jmeiss commented on #8
@fredbt I'm in the exact same case as you with react-native-offline.
Have you found a way to pass `meta` params with reduxsauce?

[2017-11-21 13:19] fredbt commented on #8
Not yet @jmeiss ... I'm still waiting for the solution by Mr. @vaukalak :)

[2017-11-27 19:35] cyphire opened #43 "The example is great, but there is no part which shows the actual dispatch..."
My Reducer: AppDataRedux.js

`import { createReducer, createActions } from 'reduxsauce'
import Immutable from 'seamless-immutable'

/* ------------- Types and Action Creators ------------- */

const { Types, Creators } = createActions({
  updateTestString: ['myTestString'],
})

export const AppDataTypes = Types
export default Creators

/* ------------- Initial State ------------- */

export const

[2017-11-27 20:11] skellock commented on #43
In your Reducer section:

Change:

`[Types.UPDATETESTSTRING]: updateTestString,`

To:

`[Types.UPDATE_TEST_STRING]: updateTestString,`

Unrelated, but helpful if you didn't know this: in github, you can use 3 backticks to style stuff:

[code]

![image](https://user-images.githubusercontent.com/68273/33286978-2578831a-d385-11e7-952b-53ab4d67575c.png)

[2017-11-30 12:11] boo182 commented on #7
Same

[2017-12-06 20:22] GuillotJessica opened #44 "add an item into an array"
Hello, I'm in trouble figuring the way redux sauce works
In seamless-immutable, they say:

[Things may have change though](https://github.com/rtfeldman/seamless-immutable/issues/43)
My INITIAL_STATE is displayed, and onPress the best I can have is the list to disappear, in Reactotron, the action addWord seems to work and I presume I should get 'coucou' in the list but it's blanks at best or I get

[2017-12-07 03:49] wisn commented on #44
How about using spread operator?

[code]

Or using concat method?

[code]

[2017-12-07 07:51] GuillotJessica commented on #44
The 2 actions returned ma this error

[2017-12-07 08:37] wisn commented on #44
Where is your reducer? Could place it here?

[2017-12-07 17:10] fredbt commented on #8
Hello @matttti ! Did you have any progress in the implementation of the FSA for reduxsauce? (not being picky, just asking ... I know it's open source and not your job in the end :)

Thank you so much!

[2017-12-08 17:17] njradford opened #45 "Support For Flow typing"
Curious if there is any intent to support Flow down the road?

[2017-12-08 17:21] skellock commented on #45
I’d accept a PR for the typings, but I’m a TypeScript person personally.

[2017-12-08 17:21] #45 closed

[2017-12-08 17:32] njradford opened #46 "Support For TypeScript"
Curious if there is any intent to support TypeScript down the road?

[2017-12-08 17:40] skellock commented on #46
Yes!  Absolutely.

[2017-12-21 23:04] karolmajta commented on #46
I have this almost done :) Please be patient for following few days :)

[2017-12-23 13:20] cosmosof opened #47 "novice can't work it out."
happy holidays guys,
This design is ending up error.
If you have time, please help me sort this out.
it sounds like I am not dispatching actions right or so.

[code]

redux setup must be all good below

[code]

[code]

[2017-12-24 23:27] #47 closed

[2018-01-14 14:24] ForelaxX opened #48 "I wonder is there any method to support redux sauce for editor code hints?"
First of all, I love the redux sauce, it helps make my code elegant.
But there is a problem, I find that it's hard to use editor hint to help me input the ActionType.
For example, here is my Action type definition:

[code]

When I want to use `createReducer` to create real reducer in another file, I have to input `FEED_LIST_CHANGE_TAB_INDEX` manually:
[code]

Is there any method to support redux s

[2018-01-15 16:54] GuillotJessica commented on #47
your actions should look like this
const mapDispatchToProps = (dispatch) => {
    return {
        questions: (data) => {dispatch(questionsActions.update (data))}
    }
};

[2018-02-02 11:12] TomPradat opened #49 "Can't have a null INITIAL_STATE with createReducer method"
I have a simple reducer which is a nullable string but can't set INITIAL_STATE to null

[2018-03-01 04:31] nelsliu9121 commented on #46
@karolmajta hey, any update to this? Anything I can help you with?

[2018-03-16 19:21] deldreth commented on #46
@karolmajta also curious to see what you've done.

[2018-03-16 21:04] deldreth commented on #46
This is the module I've created for use in my projects. So far it seems to fit most of the situations I've thrown at it.

https://gist.github.com/deldreth/df87cfd62ef91b9fce6f66dae01f40b0

[2018-03-19 12:14] emorphisgit opened #50 "Reducer call inside another Reducer action."
Can you tell me how I call a reducer function inside another reducer function?

[2018-03-19 15:04] skellock commented on #50
Check out https://github.com/infinitered/reduxsauce#default-handler

[2018-03-19 15:04] #50 closed

[2018-03-20 06:05] emorphisgit commented on #50
And how I get a callback from reducer.

[2018-03-20 06:44] emorphisgit opened #51 "How to define callback function of reducer"

[2018-04-01 01:29] wisn opened #52 "Treat `setVIPById` as `SET_VIP_BY_ID` instead of `SET_V_I_P_BY_ID`"
The [camelToScreamingSnake](https://github.com/infinitered/reduxsauce/blob/c77442c127a03f67a61d78fa44bc1620ef775408/lib/createActions.js#L12) function would be great if it could treat `setVIPById` as `SET_VIP_BY_ID` instead of `SET_V_I_P_BY_ID`. Currently, I wrote it as `setVipById`. Test it out on [Rambda REPL](http://ramdajs.com/repl/#?const%20RX_CAPS%20%3D%20%2F%28%3F%21%5E%29%28%5BA-Z%5D%29%2F

[2018-04-02 06:50] csoreff opened #53 "How to use with Flow?"
Is there a way to use Flow to do type checking on the parameters when using things like ```createActions```? I tried several methods that all failed.

[2018-04-02 10:59] skellock commented on #53
I'm not sure.  I'd love to know though.

[2018-04-02 20:34] kevinvangelder commented on #52
We've experienced this issue in the past as well, but haven't had a chance to fix it, and these days we're moving to MobX.

[2018-04-03 04:00] wisn commented on #52
Ah, cool! Good luck!

[2018-04-07 06:00] dashracer commented on #23
Hi @luizguilhermefr how did you solve this error? I got the same error

[2018-04-23 22:25] emGiin opened #54 "Is it possible to have two creators in different reducers with the same name ?"
Hello,
I'm using `reduxsauce` for a project of mine, while trying to DRY up the code I needed two actions to have the same creator name
for example  :
my store looks something like this :
`
state = {
demands : {
list, fetching, success, error
},
transfers : {
list, fetching, success, error
}
}
`

while I understand that Redux doesn't allow two actions to have the same name I want to have the abili

[2018-04-23 22:32] emGiin commented on #54
I just found out that createActions has a `prefix` option

[2018-04-23 22:32] #54 closed

[2018-05-13 21:58] vedmant commented on #8
Any update on this? I want to use https://github.com/diegohaz/redux-saga-thunk and looks like I cannot use createActions() as I can't add meta field to actions.

[2018-06-02 16:15] deldreth commented on #46
I had completely forgotten about this. I've actually updated the createReducer type signature for most of my use cases.

https://gist.github.com/deldreth/df87cfd62ef91b9fce6f66dae01f40b0#file-reduxsauce-d-ts-L34

That includes providing a generic state type to handlers. This has given me better error breakdown per reducer. I'm sure I could put together a PR for the typedef based on my gist.

[2018-06-02 16:42] yordis commented on #46
@deldreth create a PR please <3

[2018-06-06 13:40] Elvinra commented on #46
My version of reduxsauce.d.ts using template for creating actions

https://gist.github.com/Elvinra/a91a677691b868b956d87d9836745b12

based on the file of @deldreth

[2018-06-06 14:53] deldreth commented on #46
That's a good approach. I submit a slightly more type safe usage implementation for your consideration. Within my team we disallow implicit any so having explicit types for actions is necessary.
[code]

In this situation you'll get type safety on your reducers or elsewhere (middlewares?) you're using the return of an action creator.

[2018-06-19 13:07] TerryChenUI opened #59 "How to write unit test for createReducer"
[code]

unit test code:
[code]

[2018-06-26 19:06] andreystarkov commented on #7
me too

[2018-07-14 19:55] skellock commented on #48
@BrunoDF is right.  `reduxsauce` is a runtime library.  You could add typings, but by that point you're writing as much code as it would take to create the reducers manually.  haha.

:man_shrugging:

[2018-07-14 19:55] #48 closed

[2018-07-22 11:59] lukasbash commented on #46
Is this topic still maintained? I really think that this library in combination with typescript makes a huge step into the right direction!

[2018-07-24 03:46] deldreth commented on #46
I'm not sure. #58 is still open with no feedback.

[2018-07-24 15:44] skellock commented on #46
Ya, my bad.  I'm having a hard time keeping up with the 5 or 6 open source projects I'm responsible for.  😅  I need help. 😆

I don't use redux much anymore and by extension this library. I do, however, use the heck out of Typescript, so this is very very welcome.

I'll take a look at #58 this week once I finish up a new release on [another oss project](https://github.com/infinitered/reactotron).

[2018-07-24 16:18] #52 closed

[2018-08-07 16:07] gish94 opened #61 "Redux-thunk"
How can i use redux-thunk with reduxsauce

[2018-08-07 19:42] skellock commented on #61
Afaik, you really can't.  Sorry!

These create self-contained action creators. You could have your own action creators that do it, but it goes against what this lib does.

When I was using redux, I ended up going with redux-saga for side-effects.

[2018-08-07 19:42] #61 closed

[2018-08-20 21:11] willian commented on #61
Not really related to this topic, but I am curious. @skellock what are you using now that you don't use redux? Thanks!

[2018-08-20 21:16] skellock commented on #61
The last few projects I've been on have been `mobx-state-tree`. 🌲

[2018-08-25 01:09] francisrod01 opened #62 "Error: handlers cannot have an undefined key"
I have a problem to create reducer using a Handlers object.

This is my environment version:

[code]

![image](https://user-images.githubusercontent.com/4691768/44613452-f9810180-a7e9-11e8-80a8-0a66a4fc9742.png)

Here is a project link.
Please I need a help to solve that.

https://github.com/francisrod01/redux-sagas-app

[2018-08-25 15:45] fouzelddin commented on #62
check that the HANDLES Object property keys is not undefined for example :
**Types.SAY_GOODBYE** should't be undefined or null.

[**Types.SAY_GOODBYE**]: sayGoodbye

[2018-08-25 19:01] francisrod01 commented on #62
The key it's ok in the `reducers/auth.js` file

The `sagas/index.js` is below:

[code]

Here the `auth` reducers  file:

[code]

[2018-09-05 09:29] QuestInfosense opened #63 "handler cannot have undefined key"

[2018-09-05 09:29] #63 closed

[2018-10-15 06:51] DanGDroid opened #65 "handlers cannot have an undefined key"
i updated from version 0.4.1 to latest 1.0.0 and found a breaking change that was not mentioned.

throw new Error('handlers cannot have an undefined key')

my store have a few initial states with key of undefined that later i update

ex:
[code]

after updating reduxsauce cannot compile
maybe consider reverting #17 as wanted by #64
thanx

[2018-12-20 11:32] wassimhennoune commented on #65
Hello,

I have already faced the problem many times, the issues is in binding the ACTIONS to the TYPES, which means, there must be an error in the name of ur actions:
Exemple :
ACTION : getUser
TYPE: GET_USERS the correct type match the name of the action,

I hope u ll fix ur issue

[2019-01-07 12:23] RishavKumar-3796 commented on #22
it is wrong attempt. Read the redux docs carefully. Its written action must have an type. You need to specify an action type to your action creater.

[2019-01-27 20:02] subhendukundu opened #66 "How to change screen on action?"
I am not sure if this the right place to ask this, anyway I am stuck at the moment.
I am using https://github.com/infinitered/ignite andross boilerplate. How do I change the screen on an action with react-navigation?
Thanks

[2019-01-27 20:38] subhendukundu commented on #66
Ahh, Got it.
In case if someone having a bad day. https://github.com/react-navigation/react-navigation/issues/840
:)

[2019-01-27 20:39] #66 closed

[2019-02-05 04:31] peresbri commented on #46
any update on this?

[2019-02-06 22:57] CoreyAR commented on #53
I am not sure this is possible with Flow because it is doing static typing and the `ActionTypes` are created dynamically. You could use Typescript though.

[2019-02-20 21:11] mustafamagdy commented on #8
Still no solution for that ????

[2019-04-01 07:02] kushalmahajan opened #68 "How to use namespace and reset action- documentation"
The documentation for how to use namespaced actions is not clear.

Say, i utilised the second param in

[code]

Now, if I call reset in my component, should I not see action as `MY_NAMESPACE_RESET` in redux dev tools? What I see is 'RESET'

[code]

Here's my handler

[code]

Similarly for the resettable, I'm not sure if I get the hang of the usage completely. A full cycle example is recommended.

[2019-04-01 20:49] DiFuks opened #69 "npm package does't contain types for TypeScript"
npm package does't contain types for TypeScript
Types included on github. But npm-package - not the current version. Please, update it

[2019-04-08 20:43] kevinvangelder commented on #69
Looks like we forgot to change the commit message to trigger our auto-deployment. Fortunately there is a related PR that we'll probably be able to merge soon, so we should be able to trigger the auto-deploy next time.

[2019-04-15 21:54] kevinvangelder commented on #69
@DiFuks Sorry for the delay. 1.1.0 released.

[2019-04-15 21:54] #69 closed

[2019-04-26 08:57] tonmanayo opened #70 "useReducer support"
Hi

I think it would be really cool if we could use redux sauce with the hook method useReducer

Would this ever be possible?

[2019-04-30 22:47] AaronV opened #71 "Documentation on how to use resettableReducer"
It's not clear to me how to use `resettableReducer`. Does it add an action for me? What should I dispatch from my container to trigger the reset?

[2019-05-09 14:53] vitormalencar commented on #53
hey, guys any news on the topic here? I would love to use this lib with flow on my action creators

[2019-05-09 19:45] kevinvangelder commented on #46
Closed by #58 & #67

[2019-05-09 19:45] #46 closed

[2019-05-09 19:47] kevinvangelder commented on #53
We don't use Flow at all for projects at Infinite Red, and we no longer use Reduxsauce either, so any new features are going to have to come from the community.

[2019-05-09 19:48] kevinvangelder commented on #70
That's a good suggestion, however we are no longer using this library, so any new features are going to have to be added by the community.

[2019-05-09 19:58] vitormalencar commented on #53
hey @kevinvangelder thanks for the update, any particular reason for you guys longer use Reduxsauce, I would like to know because I am considering using some projects, so understanding why you do not use it any more would help me a lot.

[2019-05-09 20:07] kevinvangelder commented on #53
Sure, all of our new projects use MobX-state-tree instead of Redux. If you use Ignite to generate your new projects, simply choosing the newer Bowser boilerplate will give you all of the latest tools that we're currently using.

[2019-05-10 08:48] tonmanayo commented on #70
damn, I really like this library, what has your team replaced it with? I'm guessing you're not using redux anymore? @kevinvangelder

[2019-05-13 21:39] kevinvangelder commented on #70
Yes, we've moved to Mobx-State-Tree, it's much easier to learn and maintain.

[2019-06-17 03:40] liuhaoyu1 commented on #7
来了老弟

[2019-06-26 14:18] thelimarenan opened #73 "I can not get 100% tests coverage"
I'm trying to test a application using Jest. I implemented the following approach:
[code]
It works fine. However, in the test I can't reach the 100% coverage, because only in the criteria of Branch, it logs that coverage is 0% (on the anothers criteria I reach 100% - Statements, Functions, Lines); On feedback of the coverage logs it is stated that on lines 11 and 24 the code test isn't covering te

[2019-07-04 20:53] jasan-s opened #74 "The reason you are no longer using it?"
Readme states you longer use it. Are you using an alternative?

[2019-07-08 20:17] kevinvangelder commented on #74
We have switched from Redux to the much easier to learn and use MobX-state-tree.

[2019-07-19 02:31] tranthaison1231 opened #76 "Reduxsauce cannot dispatch action"
# I've tried on follow your doc, but it's not working. My getInterviewFormById Func is not run.

## My Reducer
[code]
## My sagas

[code]
## My container

[code]

[2019-08-25 14:53] dmouse commented on #74
Can you open an announcement to find maintainers? I would be happy to help to continue developing this package

[2019-08-26 01:48] #76 closed

[2019-09-13 13:22] AlexeyCherneny commented on #65
Any ideas how to log what action is wrong? Watching all actions is bad idea

[2019-09-25 15:37] jkeam commented on #74
Hi!  I'll be jumping on to help maintain it.  Would love to have any/all help!  I'll be closing this issue, but PRs and issues are always welcomed!  Or if you need, you can always reach me on twitter at https://twitter.com/jonnyman9

[2019-09-25 15:37] #74 closed

[2019-09-25 15:38] jkeam commented on #43
Hi!  @cyphire, was your original issue fixed?

[2019-09-25 15:40] jkeam commented on #7
Yes!  Kudos to the team that worked so hard on this project.  ❤️  to them all.

[2019-09-25 15:40] #7 closed

[2019-09-25 15:40] jkeam commented on #44
Hi!  @GuillotJessica are you still facing issues?

[2019-09-25 15:42] jkeam commented on #70
Awesome suggestion @tonmanayo!  I haven't really looked into it yet, but a PR is welcomed :)

[2019-09-25 15:54] cyphire commented on #43
Yes, I probably had no idea what I was doing back then!!!

Thank you for letting me close this.

[2019-09-25 15:54] #43 closed

[2019-09-25 15:55] cyphire commented on #43
Closed, was not an issue.

[2019-09-26 04:25] jkeam commented on #73
Hi!  Just wanted to let you know that the code coverage was just brought up to 100%.  There has not yet been a release of this version yet (currently master branch only), but stay tuned.  I want to update some dependencies first and then release version `1.1.1`.  Should happen within the next few days/weeks.

[2019-09-26 04:38] jkeam commented on #49
Hi!  Looks as though this feature was merged in.  I'm going to close this issue, but feel free to open another one if you have any problems.

[2019-09-26 04:38] #49 closed

[2019-09-26 17:46] GuillotJessica commented on #44
no longer, thank you

Le mer. 25 sept. 2019 à 11:40, Jonathan Keam <notifications@github.com> a
écrit :

[2019-09-26 17:46] #44 closed

[2019-10-03 17:52] adamhari commented on #71
Figured this one out the hard way.

I have a file that looks like this:

[code]

When I sign out, I call resetStores(); I do not dispatch the call to that function because the function already dispatches the call (if you do dispatch it, it will be called twice). This call will reset any store that was wrapped by 'resettable' to its initial state. I hope this helps.

[2019-10-04 20:20] denrolya opened #79 "Reusable reducers"
Hello and thank you for such a wonderful library!

Could you please help me to understand, is it possible at all to create one reducer that can be used in different parts of my store independently. My example is the following: I have multiple entities, in reducers I store the list of them as well as pagination state. For example:
[code]

So I want to have reducer for pagination used in *entityA* b

[2019-10-07 05:52] jkeam commented on #79
Ya for sure!  Reducers are just regular functions.  As a matter of fact, the [redux documentation](https://redux.js.org/recipes/structuring-reducers/reusing-reducer-logic) itself has documentation on it.  In their example, they are storing a number, most likely to simplify the explanation, but the same idea still applies.    Hope this helps!

[2019-10-07 05:54] jkeam commented on #71
I definitely plan on adding more documentation around this.  Kudos on your great example though.

[2019-10-07 06:03] jkeam commented on #65
Hey just wanted to check in and see if @AlexeyCherneny or @wassimhennoune or @DanGDroid had a breaking test so I can fully understand what is going on.  Thanks!

[2019-10-07 07:46] denrolya commented on #79
Thank you @jkeam for your reply. I read this manual, but unfortunately, I did not understand how to use it in my set up. Documentation describes initializing those reducers in a store using combineReducers and so on. I do not have it this way:
[code]
and only inside those *entityAReducer* & *entityBReducer* I have all pagination relatied actions handled with the following:
[code]

So I don't combi

[2019-10-07 07:59] denrolya commented on #79
@jkeam Important and confusing thing here, for me, is that pagination actions creators & types were created using **createActions** with *PAGINATION_* prefix. And so this confuses me alot now, cause I understand it has to be variable, like *ENTITY_A_PAGINATION_*

[2019-10-07 10:21] Thembelani opened #80 "state.merge is not a function"
Hi. Can someone please explain why I am getting state.merge is not a function when my reducer is called ??

[code]

When I call store.getState() elsewhere I can see the merge function.

![Screenshot 2019-10-07 at 12 35 29](https://user-images.githubusercontent.com/6085377/66305236-2a919800-e8ff-11e9-9dcc-e56acbd8ac2d.png)

[2019-10-07 15:22] jkeam commented on #79
Ah, ok so in your example, `paginationReducer` is the function you want to re-use.  Since paginationReducer is basically identical in both your `entityAReducer` and `entityBReducer` you could move `paginationReducer` to a separate file and import them into both `entityAReducer` and `entityBReducer`.

If you have a repo and it would be more helpful with concrete references to your code, I'd be happ

[2019-10-07 15:26] jkeam commented on #80
I'd be happy to help.
First, let's start with your code snippet above:
`loginRequest` takes in two parameters `loginRequest: ['username', 'password']`

so your reducer should as well:
`export const loginRequestReducer = (state, { username, password }) => {`

That aside, how are you calling this?  Is it something like:
[code]

[2019-10-07 15:35] jkeam commented on #80
Also your reducer, I would typically write like this:

[code]

[2019-10-08 07:19] Thembelani commented on #80
Thanks @jkeam

It seems something about the way I persist the store is causing this issue. The methods from Immutable are available when the mobile app first runs but are removed when the app reloads.

[2019-10-23 13:48] tegument commented on #70
You can use reduxsauce with a useReducer hook, this is an example:
`
import { useReducer } from 'react'
import { createReducer, createActions } from 'reduxsauce'

export const useEnhancedReducer = INITIAL_STATE => {
  const { Types, Creators } = createActions({
    loginRequest: ['username', 'password'],
    loginSuccess: ['username'],
    loginFailure: ['error'],
    logout: null
  }, {}) // opti

[2019-10-31 02:30] #41 closed

[2019-10-31 02:30] #59 closed

[2019-10-31 02:30] #51 closed

[2019-10-31 02:30] #8 closed

[2019-10-31 02:30] #53 closed

[2019-10-31 02:30] #68 closed

[2019-11-05 08:37] sayjeyhi opened #89 "repo createActions example error TypeScript"
The default repo `createActions` example has some error with typescript :
[code]

[2019-11-05 08:38] sayjeyhi opened #90 "confused to use createTypes or createActions"
could we use `createActions` instead of using `createTypes` to create types ?

[2019-11-05 08:52] sayjeyhi opened #91 "how to use Creators or Types with intelligency for IDE"
I was wondering how should I use `webstorm` with Creators  or Types intelligency auto complete ?

does any one else thought about this before?

[2019-11-27 11:48] vinipachecov commented on #90
Yes you can. It creates Types with snake case.

So "getPostRequest" action becomes: GET_POST_REQUEST type.

[2019-11-27 11:49] vinipachecov commented on #89
The Action type inside the .d.ts file is set with string type, it should have and option or a generic interface.

[2019-11-27 11:56] vinipachecov opened #92 "Action type does not support object as showed in the docs"
The current Action interface supports only string array or null, it does not support receiving objects as stated in the docs.

![Captura de Tela 2019-11-27 às 08 55 25](https://user-images.githubusercontent.com/2838834/69721494-b94ab600-10f3-11ea-820d-e8af296abdda.png)

Current type docs
![carbon](https://user-images.githubusercontent.com/2838834/69721267-40e3f500-10f3-11ea-9a6e-3213ff910dff.png)

[2019-12-02 04:54] #73 closed

[2019-12-03 05:12] jkeam commented on #92
Yep, good catch.  This should be supported, as you can see in `test/createActionsTest.js:46`.

[2019-12-03 05:14] jkeam commented on #91
Sorry, I don't use webstorm :)  Looks like Typescript can pick up the typescript declarations though.

[2019-12-03 05:16] jkeam commented on #89
Going to mark this as a duplicate of https://github.com/jkeam/reduxsauce/issues/92, even though technically this issue was filed first.

[2019-12-03 05:16] #89 closed

[2019-12-12 07:31] sayjeyhi commented on #91
@jkeam you mean you have this intelligence auto completion in other IDEs? there is no typescript to our actionCreators and we use `reduxsauce` to make our life easier. I think it should be solved in some generic way somehow..

[2019-12-12 07:33] sayjeyhi commented on #90
@vinipachecov TY

[2019-12-12 07:33] #90 closed

[2019-12-22 06:44] jkeam commented on #92
@vinipachecov and @sayjeyhi I hope this PR https://github.com/jkeam/reduxsauce/pull/94 fixes your issue.

I think I'll leave the PR open a bit (like a week or so). Let me know if this PR doesn't fix your issue and any/all feedback/comments you have.  Thanks again to you both for finding and reporting this!

[2019-12-23 12:14] vinipachecov commented on #92
@jkeam  I'll take a look into it today!

[2019-12-23 20:01] jkeam commented on #91
Sorry I miswrote my previous comment.  I meant to say:

"Sorry, I don't use webstorm :) Looks like Webstorm can pick up the typescript declarations though."

So we have an `index.d.ts` that should be picked up automatically by Webstorm.  In Visual Studio Code for example this is the case.  If you were writing Typescript using VS Code and import `reduxsauce` as normal, the intellisense will tell yo

[2019-12-23 20:02] jkeam commented on #92
Thanks so much for the help :)

[2019-12-26 21:14] vinipachecov commented on #92
@jkeam  just replied there.

[2020-01-19 04:42] jkeam commented on #92
Closing this in favor of https://github.com/jkeam/reduxsauce/pull/94

[2020-01-19 04:42] #92 closed

[2020-01-19 04:45] jkeam commented on #91
@sayjeyhi Are you able to use the `index.d.ts` file in Webstorm to get your intelligent auto completion working?

[2020-01-19 04:45] jkeam commented on #80
@Thembelani Are you still encountering issues or can I close this issue?

[2020-01-19 04:47] jkeam commented on #79
@denrolya Are you still encountering issues or can I close this?

[2020-01-19 04:48] jkeam commented on #71
Going to close this as @adamhari looks like he answered the question.

[2020-01-19 04:48] #71 closed

[2020-01-19 04:49] jkeam commented on #70
Going to close this as it looks like @tegument answered this.

[2020-01-19 04:49] #70 closed

[2020-01-19 04:51] jkeam commented on #65
Going to close this as it looks like @wassimhennoune answered it.  @AlexeyCherneny no plans on that right now, but a PR is always welcome!

[2020-01-19 04:51] #65 closed

[2020-01-20 07:14] Thembelani commented on #80
Thanks for the help @jkeam

[2020-01-20 07:14] #80 closed

[2020-01-20 11:50] sayjeyhi commented on #91
@jkeam actually I do not want to create type declaration for every action creator... I was looking for a generic way to handle it when I asked this question.

[2020-01-27 05:03] snmishra opened #98 "minor enhancement to allow empty argument to actionCreator with defaults"
Currently the actionCreator with defaults accepts only an object (see #35). A default argument of empty object will be nice, so you can call the action creator without an argument.

[code]

[2020-02-07 09:28] HaffASE commented on #76
I have same issue, how you fixed it?

[2020-02-10 17:48] jkeam commented on #91
@sayjeyhi Do you have code samples I could take a look at?

[2020-02-10 20:42] codinglabsdev opened #100 "createReducer with Typescript"
Hi,

I'm new to TypeScript and I'm having difficulties to pass the reducers functions to createReducer():

This is my duck file:

[code]

And the types:

[code]

When defining the ```reducer```, I get this error:
[code]

However, the error doesn't happen if:
- I define only one reducer:
[code]
- Pass the reducer function itself (arrow function) instead of the variable:
[code]

Why is this happenin

[2020-02-25 15:05] sidferreira commented on #100
I had this issue too. And as far as I could figure out, the problem is that you define:
- the Action's types in your reducer function interfaces
- same property (`data`) to different types in different reducers

For the first, the best is to use a generic action type.
for the second, using different property names, making them optional, worked for me.

I don't like the solution, but it works...

[

[2020-03-05 17:52] sepowitz commented on #100
I'm coming across the same issue, and the comment above doesn't seem to solve it for me. Has anyone else had success typing ```createReducer```?

[2020-03-06 04:20] jkeam commented on #100
I haven't had time to look into this quite yet, but will soon.  Thank you everyone for the detailed code snippets though, that really helps :)

[2020-03-06 04:27] jkeam commented on #98
Ah.  Ya I can definitely look into this, but since you did all the hard work, do you want to open a PR (and add tests)? :)

[2020-03-06 04:39] satyacxio commented on #98
It was just adding a default option, thought it would be easier as a patch. In any case I’ve moved on from the project. So I won’t have time in the near future to do a PR or tests.

[2020-03-06 13:21] sidferreira commented on #100
@jkeam I think I found the solution:

[code]

Basically:

[code]

and use it as part of your Action definition.

[2020-03-06 13:22] sidferreira commented on #100
@jkeam I also noticed if you type your `createReducer`, the problem goes away:

[code]

So, still, there's a but here. I think if we add the `[key: string]: any;` to the Action would fix things uo

[2020-03-06 13:26] sidferreira commented on #100
Actually it seems you can use `AnyAction` from `redux` for that

[2020-03-06 15:13] sepowitz commented on #100
@sidferreira Thanks for your help! Your comments have been super helpful. It seems typing out the actions in the Handler interface (see: ```loadingInterface``` and ```updateInterface``` above),  fixes the issue, specifically if not using the strict option in your tsconfig,  i.e. ```strict: true``` (which is false by default).

However, if you've declared ```strict: true``` in your tsconfig, as we

[2020-03-06 15:19] sidferreira commented on #100
@sepowitz yeah, I tried those too

[2020-03-10 19:32] sidferreira commented on #100
I just started having `A computed property name must be of type 'string', 'number`, 'symbol', or 'any'` on my `createReducer` call...

[2020-03-10 19:51] sepowitz commented on #100
@sidferreira I started getting that too. I was able to fix it by typing my ActionTypes in createActions.

[code]

[2020-03-10 19:53] sidferreira commented on #100
kinda defeats the purpose of the lib...

[2020-03-11 12:05] sidferreira commented on #100
@sepowitz

It seems that the problem is:
[code]
Can't be null...

[2020-03-11 14:38] sepowitz commented on #100
@sidferreira Alternatively, you can use type coercion to prevent that error

[code]

[2020-03-26 06:32] #79 closed

[2020-03-27 15:32] EmirBostanci commented on #76
Hey did you managed to fix it? @tranthaison1231

[2020-04-05 05:00] jkeam commented on #98
Thanks again for your contribution!  I created https://github.com/jkeam/reduxsauce/pull/102 to address this.  This has been merged in and will be in the next release.

[2020-04-05 05:00] #98 closed

[2020-04-17 19:34] #91 closed

[2020-04-29 15:31] oflarcade opened #104 "How to handle extra logic using reduxsauce approach ?"
Hello There,
I am trying to figure out how to handle extra logic  before affecting the global tree state using reduxsauce ?

For example using a redux thunk approach with action being plain functions, the approach would be :

[code]

[2020-05-09 04:42] emonno13 commented on #100
@sepowitz @sidferreira i have tried many ways like you above but can't fix the prolems in Types.NAME but the application still run normally. So i returned my code at first time. Can you fix them ,please ? So many thanks ^^

`import { createReducer, createActions } from 'reduxsauce'
import Immutable from 'seamless-immutable'

/* ------------- Types and Action Creators ------------- */
const { Types

[2020-05-10 17:47] emonno13 commented on #100
Finally, It's so awesome for me to find the solution <3

[code]

[2020-05-11 05:12] GuruKarmakar opened #105 "Immutable is missing"
How to import Immutable().

[2020-05-11 14:45] emonno13 commented on #105
@GuruKarmakar

Try my solution here. I found that today after 4 long days lolllll
[code]

[2020-05-12 07:59] emonno13 opened #106 "How i can make code more clean with reduxsauce-typescript-immutable"
@jkeam  Hi, I think i found the solution for https://github.com/jkeam/reduxsauce/issues/100

The code bellow runs normally with no warnings but i think it's so long. How can i make it more clean

My redux here
[code]
Display the state

[code]

And i dispatch here

`dispatch(AuthActions.setCheckNewPolymate(!checkNewPolymate))`

[2020-05-12 08:23] emonno13 commented on #100
I think i found the solution here but it's so long.
https://github.com/jkeam/reduxsauce/issues/106

[2020-05-12 13:25] jkeam commented on #105
@GuruKarmakar Hope this answers your question.  This is more a question for the `seamless-immutable` project but thanks @emonno13 for answering!

Also if you prefer require, you could also do
`const Immutable = require("seamless-immutable");`

Check out their docs here:  https://github.com/rtfeldman/seamless-immutable

Because this doesn't directly pertain to this project, I'm going to mark this a

[2020-05-12 13:25] #105 closed

[2020-05-23 18:47] BaluRaut commented on #104
@oflarcade so in this case.

1. Take your global state value from container to component

2. Do some logic there

3. call the action with the payload

This is the clean way to handle your case.

isn't?

[2020-05-25 14:25] oflarcade commented on #104
This is also a way of doing it, but I went with selectors to treat some data and then dispatch the action.

[2020-05-25 19:31] jkeam commented on #104
@oflarcade What exact logic are you trying to do?  Also maybe a full fleshed out example would help?

@BaluRaut 's recommendation is a good one.  Your component should have the full context of what's going; so your component should figure out what exact actions (with the right payload) to dispatch.

Also a nice place to put logic is right in the reducer.  Reducers are the gatekeepers of your appli

[2020-05-26 01:48] jkeam commented on #106
Hi, this is really awesome.  You did a great job of fully typing everything out.  I'm with you and would really love a shorter way to get this done.  I've opened this [PR](https://github.com/jkeam/reduxsauce/pull/107) using this [branch](https://github.com/jkeam/reduxsauce/tree/bugfix/typescript-reducers).  Can you check out this branch when you have time and see how it works for you?  I'd love yo

[2020-05-26 01:52] jkeam commented on #106
Here is the following shortened version of your code using this [branch](https://github.com/jkeam/reduxsauce/tree/bugfix/typescript-reducers).

[code]

[2020-05-26 01:53] jkeam commented on #100
Sorry for the radio silence, I've been combing through the typescript definitions and I think you all have highlighted some great issues and way we can improve on this.  I've opened this [PR](https://github.com/jkeam/reduxsauce/pull/107) using this [branch](https://github.com/jkeam/reduxsauce/tree/bugfix/typescript-reducers).  Can you check out this branch when you have time and see how it works f

[2020-05-26 02:15] emonno13 commented on #106
@jkeam Oh, really thanks for your support. Yes,  the main problem is if we don't declare the types of actions
![image](https://user-images.githubusercontent.com/53046415/82853244-6da48800-9f2f-11ea-97ec-a8566bc9572b.png)

.... typescripts will throw errors here. It's is not simple like javarscript
![image](https://user-images.githubusercontent.com/53046415/82853202-43eb6100-9f2f-11ea-9441-96f532ed

[2020-05-26 02:19] jkeam commented on #106
Is this code snippet using the new branch? https://github.com/jkeam/reduxsauce/tree/bugfix/typescript-reducers

I wanted to get some feedback on it before I merged it in and released it.

[2020-05-26 02:19] emonno13 commented on #106
@jkeam I hope you and your team will lauch many awesome features for reduxsauce in the future. Best wishes to you. Hope i still contribute to this lib <3

[2020-05-26 02:24] emonno13 commented on #106
@jkeam i will see it later and give you feedback. But is it full for both typescript and javascript ?

[2020-05-26 02:32] jkeam commented on #106
Javascript should be working today (if not please tell me :)).  This should hopefully fix it for Typescript.

[2020-05-27 14:02] emonno13 commented on #106
@jkeam
![image](https://user-images.githubusercontent.com/53046415/83029742-37fdbd00-a05d-11ea-9b99-ae3d39cf374e.png)
![image](https://user-images.githubusercontent.com/53046415/83029837-54015e80-a05d-11ea-8829-80edd464aa5d.png)
Oh !!!!! It's really work. Please merge it <3

[2020-05-27 14:05] emonno13 commented on #106
@jkeam And maybe i think you should improve your documents more clearly for beginners. Maybe a full example or so on ...

[2020-05-28 04:05] jkeam commented on #106
I'll leave this PR open most likely until the weekend to give people a chance to comment, and then if no more feedback I'll merge this in and release it.  Thanks again!!

[2020-05-31 18:07] jkeam commented on #100
I wanted to merge this in today, so let me know if there are any objections.  Was hoping to get this in later tonight :)

[2020-06-01 04:37] jkeam commented on #100
Working on a release now

[2020-06-01 05:06] emonno13 commented on #100
Love yaaa

[2020-06-01 05:26] jkeam commented on #100
Sorry to disappoint, I wasn't able to get it out today, but I'll work on it again tomorrow.  I'm just trying to make sure all my test cases look good :). Thanks for understanding and hope this wasn't too much of an inconvenience.

[2020-06-01 14:13] sidferreira commented on #100
@jkeam LMK if still needs a review... today I have some time for it

[2020-06-01 15:21] jkeam commented on #100
Actually I just pushed out a release (v1.1.3).  I always appreciate eyes and feedback :)   Thanks @sidferreira

[2020-06-01 15:22] jkeam commented on #106
Pushed out v1.1.3!  Open another issue if you find any issues.  Thanks again @emonno13 for your help!

[2020-06-01 15:22] #106 closed

[2020-06-01 15:22] sidferreira commented on #100
Is it live? I'll take a look shortly...

[2020-06-01 16:00] emonno13 commented on #106
Everything is working fine now . So many tkssssss

[2020-06-01 16:53] scabezasiq opened #109 "The state is not updated"
Hi, thanks for creating this library. I have some issues to make it work, I don't know if it is a config error or anything else. I hope someone can help me.

It is a simple test app, that switches a boolean value with the 'changeAppTheme' action.
The problem that I have is that the isDarkTheme state keeps always in false like the initial state.

On the other way, I have a question with the use of

[2020-06-02 01:45] jkeam commented on #100
Yes it is live :)

[2020-06-02 11:05] sidferreira commented on #100
@jkeam I finally had the time to check it... but I'm still wondering "what's the proper way to use it"...

[2020-06-08 03:42] jkeam commented on #100
Your code snippet is thorough and pretty great. Feedback heard though, we should add some documentation on how to properly use this with Typescript.  Also don't be surprised if the documentation that gets added looks a bit like your code :)

Lastly, if you have any feedback on how this can be improved, always open to it!  And even better if there is an accompanying PR.

Sounds like this issue can

[2020-06-08 12:58] sidferreira commented on #100
@jkeam feel free to use it!
I think the only current change is that I changed `ITypes` to `IActionTypes` and `ICreators` to `IActionCreators` :)

[2020-06-21 21:49] jkeam commented on #109
Check out this repository (and branch):

https://github.com/jkeam/reduxsauce-example/tree/example/issue-109

Pay attention to these files:
1.  src/components/ThemeChanger.tsx
2.  src/containers/ThemeChanger.tsx
3.  src/redux/index.js
4.  src/redux/themes.tsx
5.  src/components/App.js

Even though this example here is using React and not React Native, in this case I think the problem would occur in

[2020-07-16 14:26] quentincapra opened #112 "Multiple files uploading"
Hi,

I'm using ReduxSauce for actions/reducers and I know how to use it with strings like a message or a subject but I want to use it to upload multiple files and I'm stuck.

What I already have :

Actions :
[code]

Reducers :
[code]

And in my file upload component :
[code]

The updateSubject and updateMessage functions work correctly but I have an issue with the updateFile function.
I didn't fin

[2020-07-17 12:57] #112 closed

[2020-08-01 01:02] #104 closed

[2020-08-14 17:17] #100 closed

[2020-08-28 19:58] #109 closed

[2021-01-03 01:08] carlosedof commented on #65
thank u!

[2021-01-18 17:27] jly36963 opened #122 "typescript options prefix"
Typescript doesn't like when I pass an empty object as the second argument in createActions. (This is done in the createActions example in the [docs](https://github.com/jkeam/reduxsauce#createactions). Can the interface for Options be changed so that prefix is optional?

### from
[code]

### to
[code]

[2021-03-22 20:01] jtsui opened #123 "Publish reduxsauce"
Hi I'm wondering if there are plans to publish a new version of redux-sauce? We are interested in upgrading to the latest version of ramda 0.27.1, which is bumped up on master, but not on the latest published version.

[2021-04-19 05:51] ammaraltahan commented on #123
I am having the same concern, we used reduxsauce for our application, we're about to release and considering making the switch to redux toolkit instead.

[2021-06-17 07:56] redefinered commented on #71
so how do we use `resettablereducer` exactly? where can we import the reset action from?

[2021-06-17 07:57] redefinered commented on #71
@jkeam is that really how we can dispatch the reset action or there is a way that is hidden in the library from the start?

[2021-06-17 08:01] redefinered commented on #71
what if I use redux-persist `persistCombineReducers` instead of `combineReducers` where I do not have access to the dispatch method?

[2021-06-17 08:07] redefinered commented on #71
oh. everything I said is gibberish LOL. I ended up finding the way how to use @adamhari 's solution. Thanks!

[2021-06-20 16:35] jkeam commented on #123
My apologies for the delay!  I'm going to update all the dependencies and release a new version soon.  Sorry again for the delay again!

[2021-06-20 16:36] jkeam commented on #122
Sorry for missing this!  PRs appreciated :) But I can look into adding this.

[2021-06-20 16:40] jkeam commented on #112
I realize it's been a while, but wanted to follow up and see if you were able to figure out your issue?

[2021-06-20 16:53] jkeam commented on #112
I haven't tested it, but looking at it:

[code]
should probably be:

[code]

[2021-06-20 17:03] jkeam commented on #122
Quick question, what is the use case for adding this?

[2021-06-20 17:05] jkeam commented on #122
If it's referencing the docs, I think the docs should be updated from

[code]

to

[code]

[2021-06-22 04:43] jkeam commented on #122
I updated the docs, hopefully this makes the usage clearer.  Going to close this, but feel free to re-open.

[2021-06-22 04:43] #122 closed

[2021-06-22 04:45] jkeam commented on #123
Just released version 1.2.1!  Thanks for the great feedback and sorry again this took so long.

[2021-06-22 04:45] #123 closed

[2021-09-30 10:35] handhikadj opened #129 "How to use this with useDispatch (react-redux)"
I've not been able to dispatch any action with `useDispatch` hook
There's no reference on this

[2021-10-05 13:21] handhikadj commented on #129
solved.
you can use it like this

[code]

[2021-10-05 13:21] #129 closed